server:
  port: 8080
  servlet:
    context-path: /

spring:
  application:
    name: realtime

  h2:
    console:
    enabled: true
    path: /h2-console

  datasource:
    # 개발 단계에서는 H2 메모리 DB 사용
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      # 엔티티 기준으로 테이블 생성은 나중에 설정
      ddl-auto: create
    show-sql: true
